dist: bionic
language: go
go:
  - 1.13.x
  - 1.14.x

install:
  - go get -u github.com/mattn/goveralls

script:
  - GO111MODULE="on" go test -v -tags builtin_static -coverprofile=coverage.out
  - $HOME/gopath/bin/goveralls -coverprofile=coverage.out -service=travis-ci
