dist: xenial
language: go
go:
  - 1.11
  - 1.12

before_install:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq
  - sudo apt-get install gcc-6 g++-6 -qq
  - export CXX="g++-6" CC="gcc-6"

install:
  - go get -u github.com/mattn/goveralls
  - go get -u github.com/facebookgo/ensure
  - go get -u github.com/stretchr/testify

script:
- go test -v -tags static -coverprofile=coverage.out
- $HOME/gopath/bin/goveralls -coverprofile=coverage.out -service=travis-ci
